body{
    background-color:antiquewhite;
    margin: 1%;
    font-size: 125%;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    padding-left: 40px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

nav ul li{
    background-color: bisque;
    padding: 10px;
    width: 25%;
    border: 1px solid black;
    display: inline-block;
    width: 20%;
    
}

img{
    width: 45%;
    border: solid 10px #C4A484;
    display: block;
    margin: auto;
    margin-top: 20px;
}